{% extends 'pages/base.html' %}

{%　block content　%}
    <div class="p-5">
        <h1 class="text-3xl font-bold underline">Fetch Cakeresume jobs</h1>
        <div class="mt-5">
            <div class="mb-5">
                <h2 class="mb-3">拿取資料</h2>
                <a class="rounded p-2 bg-indigo-500 text-white" href="/jobs/fetch_cake">測試拿取 cakeresume 職缺</a>
                <a class="rounded p-2 bg-orange-500 text-white" href="/jobs/fetch_cake_all">拿取 cakeresume 全端/前端/後端/軟體工作職缺，時間約莫 8 分鍾，一千筆資料</a>
            </div>
            <div class="mb-5">
                <h2 class="mb-3">自動化登入，自動化登入拿取資料</h2>
                <a class="rounded p-2 bg-pink-500 text-white" href="/jobs/user_login">導入登入後個人頁面</a>
                <a class="rounded p-2 bg-lime-500 text-white" href="/jobs/user_apply_jobs">拿取登入後個人應徵 cakeresume 職缺</a>
            </div>
        </div>
    </div>
{% endblock %}