{% extends 'pages/base.html' %}

{%　block content　%}
    <div class="p-5">
        <h1 class="text-3xl font-bold underline">Fetch Cakeresume jobs</h1>
        <div class="mt-5">
            <a class="rounded p-2 bg-indigo-500 text-white" href="/jobs/fetch_cake">測試拿取 cakeresume 職缺</a>
            <a class="rounded p-2 bg-orange-500 text-white" href="/jobs/fetch_cake_all">拿取 cakeresume 軟體工作職缺</a>
            <a class="rounded p-2 bg-lime-500 text-white" href="/jobs/user_apply_jobs">拿取個人應徵 cakeresume 職缺</a>
        </div>
    </div>
{% endblock %}